<section class="hero text-white relative">
    <div class="back overflow-hidden">
        <div class="h-18"></div>
        <div class="mx-auto text-center mt-12">
            <h1 class="text-5xl font-bold">Calidad Gráfica <br> Para Destacar Tu Marca.</h1>
            <h3 class="mt-4">Desde tarjetas personales hasta gigantografias. Imprimimos con precision y estilo.</h3>
            <h3>Nos encargamos que tu marca se vea profesional desde el primer vistazo.</h3>
        </div>
    </div>
    <div class="carrusel absolute w-xl h-64 mx-auto mt-[-200px] z-[50] border rounded-md overflow-hidden">
        <img class="w-full cover" src="https://caracter360.com/wp-content/uploads/carwrapping.jpg" alt="">
    </div>
</section>


<style>
    .hero{
        
    }
    .back{
        position: relative;
        background-image: url(../../../public/hero/fondo.png);
        background-color: #013c49;
        height: 90vh;
    }
    .back::before {
        content: '';
        border-top-left-radius: 50% 100%;
        border-top-right-radius: 50% 100%;
        position: absolute;
        bottom: 0;
        width: 150%;
        background: #181818;
        height: 50%;
        transform: translateX(-16%) translateY(66%);
        z-index: 2;
    }
    .carrusel {
  left: 50%;
  transform: translateX(-50%);
}
</style>