---
import CardStat from "./CardStat.astro";
---


<section class="w-full">
    <div class="max-w-3xl flex flex-wrap gap-4 justify-around mx-auto px-2 md:px-0">
        <CardStat number="+10" title="Años de Experiencia" />
        <CardStat number="5" title="Profesionales" />
        <CardStat number="+10.000" title="Clientes Satisfechos" />
        <CardStat number="+100" title="Productos Personalizados" />
    </div>
</section>