---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import AboutUs from './components/AboutUs.astro';
import Hero from './components/Hero.astro';
import Products from './components/Products.astro';
import Specialties from './components/Specialties.astro';
import Stats from './components/Stats.astro';
---

<Layout >
	<Hero />
	<div class="h-[70px] md:h-[170px]"></div>
	<Stats/>
	<Specialties/>
	<Products/>
	<AboutUs/>
</Layout>
